<h1>chat here</h1>
<button phx-click="new-slug">Generate slug</button>
<%= @slug %>
<div class="red">
 this is red
  <div class="green">
    this is green
    <div class="green--blue">
      this is blue
      
    </div>
  </div>
</div>
<p class="orange">this is orange</p>
<p class="pink">this is pink</p>
