<h1>chat here</h1>
<button phx-click="new-slug">Generate slug</button>
<%= @slug %>
<div class={@styles.red}>
  this is red
  <div class={@styles.green}>
    this is green
    <div class={@styles."green--blue"}>
      this is blue
    </div>
  </div>
</div>
<p class={@styles."pink-color"}>this is pink</p>
<div class={@styles.container}>
  <p>this is yellow because of container last-of-type</p>
</div>
